*{
    background-color: 	#212121;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.title{
  padding: 5px;
  height: 5%;
  width: auto;
  font-size: x-large;
  border-bottom: solid;
  border-color: #b2d8b2;
  border-width: 2px;
}
.title>h1{
    text-align: center;
    color: #b2d8b2;
    font-family: 'Press Start 2P', system-ui;

}
.content{
    max-width: 400px;
    margin: auto;
 

    
}

.btnRock{
    width: 130px;
    height: 40px;
    background-color: lightblue;
    border-radius: 5px;
}
.btnPaper{
    width: 130px;
    height: 40px;
    background-color: lightblue;
    border-radius: 5px;
}
.btnScissors{
    width: 130px;
    height: 40px;
    background-color: lightblue;
    border-radius: 5px;
}
.flexCont{
    display: flex;
}
.result{
    display: flex;

    flex-direction: row;

}
#endResult{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}
.result2{
    display: flex;
    padding-left: 62px;
    flex-direction: row;

}
#computerResult{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}
.result,
.result2,
.results{
    font-size: x-large;
    color: #b2d8b2;
}   
.results{
    text-align: center;
}
footer{
    border-top: solid;
    border-color: #b2d8b2;
    border-width: 2px;
    text-align: center;
    padding: 3px;
    margin-top: auto;
    color: #b2d8b2;
    font-size: larger;
}
